<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Q and A System</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>


<body>

<div id="nav" th:include="/common/navbar"></div>

<!-- Nav bar spacer -->
<br />
<br />
<br />
<!-- End spacer -->

<!-- Log in Error -->

<div class="container well">
    <div class="row">

        <div class="col-md-4">
            <br />
            <h1 th:text="${dto.username}"></h1>
            <p th:text="@{|${dto.firstName} ${dto.lastName}|}"></p>
            <br />
        </div>
    <!--</div>-->
        <div class="col-md-8">
            <!--Questions-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Recent Questions</h3>
                </div>
                <div class="panel-body" th:if="!${dto.questions.isEmpty()}">
                    <div th:each="question : ${dto.questions}">
                        <a th:href="${question.link}" th:text="${question.title}"></a>
                    </div>
                </div>
                <div class="panel-body" th:if="${dto.questions.isEmpty()}">
                    <p th:text="|${dto.username} has not asked any questions yet.|"></p>
                </div>
                <div class="panel-footer"  style="text-align: right">
                    <a class="btn btn-success" th:href="@{/askQuestion}" role="button">Ask a question &raquo;</a>
                </div>
            </div>

            <!--Answers-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Recent Answers</h3>
                </div>
                <div class="panel-body" th:if="!${dto.answers.isEmpty()}">
                    <div th:each="answer : ${dto.answers}">
                        <a th:href="${answer.link}" th:text="${answer.title}"></a>
                    </div>
                </div>
                <div class="panel-body" th:if="${dto.answers.isEmpty()}">
                    <p th:text="|${dto.username} has not answered any questions yet.|"></p>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

</body>


</html>